<div class='cotainer' > 
    <div> <h4> Ledger Definition  {{error}} </h4> </div>

   <div class="panel panel-default">
       <div class="panel-body">
            <div class="row">
               <div class="col-sm-6">
                  
                        <h3> Level I </h3> 
                        
                        <table class="table table-bordered table-hover"> 
                            <thead> 
                                <th> Name </th>
                                <th  style="width:30px;"> Seq. </th>
                                <th> Dr/Cr </th>
                                <th> 
                                    <button type="button" class="btn btn-primary" (click)="addFdata()" [disabled]="editflag" > Add </button>
                                </th>
                            </thead>
                            
                            <tbody>
                                <tr *ngFor='let data1 of fData ; let rowIndex = index' (click)='onclick(1, data1.id, rowIndex)'>
                                    <td *ngIf="(!fEditFlag) || fId !=data1.id"> {{data1.name}} </td>
                                    <td *ngIf="(!fEditFlag) || fId !=data1.id"> {{data1.seq}} </td> 
                                    <td *ngIf="(!fEditFlag) || fId !=data1.id"> 
                                        <select #idcrdr [ngModel]="data1.crdr"  disabled>
                                             <option value='D'>Debit</option>
                                             <option value='C'>Credit</option>
                                        </select>
                                    </td>
                                    <td *ngIf="(!fEditFlag) || fId !=data1.id"> 
                                    <button type="button" class="btn btn-warning" [disabled]='editflag' (click)=' editFData(data1.id, rowIndex)'> Edit </button> 
                                    <button type="button" class="btn btn-danger"  [disabled]='editflag' (click)='deleteFData(data1.id, rowIndex)' > Delete </button>
                                    </td>

                                    <td *ngIf="(fEditFlag) && fId == data1.id"> <input type="text" name='name'  [(ngModel)]='name' required > </td>
                                    <td *ngIf="(fEditFlag) && fId == data1.id"> <input type="number" name='seq' [(ngModel)]='seq' required  style="width:50px;" > </td> 
                                    <td *ngIf="(fEditFlag) && fId == data1.id"> 
                                        <select class="selectpicker" #idcrdr [(ngModel)]="crdr"  (ngModelChange)='crdrChange(idcrdr.value)' required>
                                             <option value='D'>Debit</option>
                                             <option value='C'>Credit</option>
                                        </select>
                                     </td>   
                                    <td *ngIf="(fEditFlag) && fId == data1.id"> 
                                       <button type="button" class="btn btn-warning" (click)='saveFdata(data1.id, rowIndex)'> Save </button> 
                                       <button type="button" class="btn btn-danger" (click)='cancelFdata(data1.id, rowIndex)'> Cancell </button>
                                    </td>
                                </tr>    
                            </tbody>        
                        </table>



               </div>
               <div class="col-sm-6">
                  
                        <h3> Level II ( {{fname}} )</h3> 
                        <table class="table table-bordered table-hover"> 
                            <thead> 
                                <th> Name </th>
                                <th  style="width:30px;"> Seq. </th>
                                <th> Dr/Cr </th>
                                <th> 
                                    <button type="button" class="btn btn-primary" (click)="addSdata()" [disabled]="editflag"  > Add </button>
                                </th>
                            </thead>
                            
                            <tbody>
                            <tr *ngFor='let data2 of sData ; let rowIndex = index' (click)='onclick(2, data2.id, rowIndex)'>
                                    <td *ngIf="(!sEditFlag) || sId !=data2.id"> {{data2.name}} </td>
                                    <td *ngIf="(!sEditFlag) || sId !=data2.id"> {{data2.seq}} </td> 
                                    <td *ngIf="(!sEditFlag) || sId !=data2.id">
                                       <select #idcrdr [ngModel]="data2.crdr"  disabled>
                                             <option value='D'>Debit</option>
                                             <option value='C'>Credit</option>
                                        </select>
                                    </td>
                                    <td *ngIf="(!sEditFlag) || sId !=data2.id"> 
                                    <button type="button" class="btn btn-warning" [disabled]='editflag' (click)='editSData(data2.id, rowIndex)'> Edit </button> 
                                    <button type="button" class="btn btn-danger"  [disabled]='editflag' (click)='deleteSData(data2.id, rowIndex)' > Delete </button>
                                    </td>

                                    <td *ngIf="(sEditFlag) && sId == data2.id"> <input type="text" name='name'  [(ngModel)]='name' required > </td>
                                    <td *ngIf="(sEditFlag) && sId == data2.id"> <input type="number" name='seq' [(ngModel)]='seq' required   style="width:50px;"> </td> 
                                    <td *ngIf="(sEditFlag) && sId == data2.id"> 
                                        <select class="selectpicker" #idcrdr [(ngModel)]="crdr"  (ngModelChange)='crdrChange(idcrdr.value)' required>
                                             <option value='D'>Debit</option>
                                             <option value='C'>Credit</option>
                                        </select>
                                   
                                    </td>
                                    <td *ngIf="(sEditFlag) && sId == data2.id"> 
                                    <button type="button" class="btn btn-warning" (click)='saveSdata(data2.id, rowIndex)'> Save </button> 
                                    <button type="button" class="btn btn-danger" (click)='cancelSdata(data2.id, rowIndex)'> Cancell </button>
                                    </td>
                                </tr>    
                             </tbody>        
                        </table>


               </div>
            </div>

       </div>
       <div class="panel-body">

                <h3> Level III ( {{fname}} / {{sname}} )</h3>
                 <table class="table table-bordered table-hover"> 
                     <thead> 
                         <th> Name </th>
                         <th  style="width:30px;"> Seq. </th>
                         <th> Dr/Cr </th>
                         <th> 
                             <button type="button" class="btn btn-primary" (click)="addTdata()" [disabled]="editflag || !sPid" > Add </button>
                         </th>
                     </thead>
                     
                     <tbody>
                     <tr *ngFor='let data3 of tData ; let rowIndex = index' >
                            <td *ngIf="(!tEditFlag) || tId !=data3.id"> {{data3.name}} </td>
                            <td *ngIf="(!tEditFlag) || tId !=data3.id"> {{data3.seq}} </td> 
                            <td *ngIf="(!tEditFlag) || tId !=data3.id"> 
                                 <select #idcrdr [ngModel]="data3.crdr"  disabled>
                                     <option value='D'>Debit</option>
                                     <option value='C'>Credit</option>
                                  </select>
                             </td>
                            <td *ngIf="(!tEditFlag) || tId !=data3.id"> 
                               <button type="button" class="btn btn-warning" [disabled]='editflag' (click)='editTData(data3.id, rowIndex)'> Edit </button> 
                               <button type="button" class="btn btn-danger"  [disabled]='editflag' (click)='deleteTData(data3.id, rowIndex)' > Delete </button>
                            </td>

                            <td *ngIf="(tEditFlag) && tId == data3.id"> <input type="text" name='name'  [(ngModel)]='name' required > </td>
                            <td *ngIf="(tEditFlag) && tId == data3.id"> <input type="number" name='seq' [(ngModel)]='seq' required   style="width:50px;"> </td> 
                            <td *ngIf="(tEditFlag) && tId == data3.id"> 
                                 <select class="selectpicker" #idcrdr [(ngModel)]="crdr"  (ngModelChange)='crdrChange(idcrdr.value)' required>
                                      <option value='D'>Debit</option>
                                      <option value='C'>Credit</option>
                                 </select>
                                   
                           </td>
                            <td *ngIf="(tEditFlag) && tId == data3.id"> 
                               <button type="button" class="btn btn-warning" (click)='saveTdata(data3.id, rowIndex)'> Save </button> 
                               <button type="button" class="btn btn-danger" (click)='cancelTdata(data3.id, rowIndex)'> Cancell </button>
                            </td>
                        </tr>    
                     </tbody>        
                </table> 
       </div>
  </div>
</div>