<div class="container" >



 <div> 


  <div class="footer-social-icons">
    <h4 class="_14">Follow us on</h4>
    <ul class="social-icons">
        <li><a href="" class="social-icon">  <i class="fa fa-facebook"> <img src="app/image/facebook.png" height="32" width="32"/>  </i></a></li>
        <li><a href="" class="social-icon">  <i class="fa fa-twitter"> <img src="app/image/twitter.png"  height="32" width="32"/> </i></a></li>
        <li><a href="" class="social-icon">  <i class="fa fa-rss">  <img src="app/image/rss.jpg" height="32" width="32"/> </i>  </a></li>
        <!--li><a href="" class="social-icon">  <i class="fa fa-youtube"> <img src="app/image/youtube.png"  height="32" width="32"/> </i></a></li-->
        <li><a href="" class="social-icon">  <i class="fa fa-linkedin"> <img src="app/image/linkedin.png" height="32" width="32"/> </i></a></li>
        <li><a href="" class="social-icon">  <i class="fa fa-google-plus"> <img src="app/image/google.png" height="32" width="32"/> </i></a></li>
    </ul>
  </div>

 </div>
</div>