<div class="container">
    <div> 
        <table width="100%" border="0">
          <tr >
            <td>
               <h3> Account Books {{error}} </h3>
            </td>
            <td align="right"> 
              <input type="image"  (click)='goHome()' [disabled]="editFlag"  src="app/image/backhome.png"/>
            </td>
          </tr>
        </table>
         
      </div>


    <div class="table-responsive">
           <table class="table table-bordered table-hover"> 
                <thead>
                    <tr> 
                       <!--td> Seq </td--> 
                       <td>Code</td>
                        <td>Name</td>
                        <td>General Ledger</td>
                        <td>Reference Number</td>
                        <td>Contact</td>
                        <td> <button class="btn btn-primary" [disabled]="editFlag" (click)="addData()">  Add </button> </td>
                     </tr>   
                </thead>
                <tbody> 
                    <tr *ngFor="let data of slData ; let rowindex = index">
                        <!--td> <input type="text" value= '{{rowindex+1}}' disabled="true"> </td--> 
                        <td *ngIf='!editFlag || data.id !== editId'> {{data.code}} </td>
                        <td *ngIf='!editFlag || data.id !== editId'> {{data.name}}</td>
                        <td *ngIf='!editFlag || data.id !== editId'> 
                           <select #igltyp [ngModel]='data.glid' disabled>
                                <option *ngFor='let _gdata of allGlData'  [value]='_gdata.id'> {{_gdata.name}} </option>
                           </select>    
                        </td>
                        <td *ngIf='!editFlag || data.id !== editId'> {{data.ref_number}}</td>
                        <td *ngIf='!editFlag || data.id !== editId'> {{data.person}}</td>
                        <td *ngIf='!editFlag || data.id !== editId'> 
                           <button class="btn btn-warning" (click)="editData(data.id, rowindex)"  [disabled]="editFlag"> Edit </button> 
                           <button class="btn btn-danger" (click)="deleteData(data.id, rowindex)" [disabled]="editFlag"> Delete </button> 
                        </td>
                        <!--  Editing    -->
                        <td *ngIf='editFlag && data.id == editId' colspan='6'>
                        <div >  

                            <form class="form-horizontal" [formGroup]='formDatas'> 
                               <div class="form-group">
                                    
                                 <label  class='control-label col-sm-1' required autofocus>Code</label>
                                 <div class="col-sm-2">
                                     <input type='text' class='form-control' id='#icode' name='code' formControlName="code" required  minlength="3"  maxlength="3" style="text-transform:uppercase"  autofocus>
                                 </div>

                                 <label  class='control-label col-sm-1'>Name </label>  
                                 <div class="col-sm-6">
                                    <input type='text' class='form-control' id='#iname' name='name' formControlName="name"  required>
                                 </div>

                               </div>  
                               <div class="form-group"> 
                                 <label  class='control-label col-sm-1'>Ledger</label>
                                 <div class="col-sm-4">
                                     <select class='form-control' id='#glid' name='glid' formControlName="glid" required >
                                        <option *ngFor='let _gdata of allGlData'  [value]='_gdata.id' required> {{_gdata.name}} </option>                                    
                                    </select>    
                                 </div>

                                 <label  class='control-label col-sm-1'>Reference</label>
                                 <div class="col-sm-5">
                                     <input type='text' class='form-control' id='#iref' name='ref' formControlName="ref_number" >                                
                                 </div>
                               </div>

                               <div class="form-group"> 
                                 <label  class='control-label col-sm-1'>Contact</label>
                                 <div class="col-sm-4">
                                     <input type='text' class='form-control' id='#iperson' name='person' formControlName="person">                                
                                 </div>
                            
                                 <label  class='control-label col-sm-1'>Email</label>
                                 <div class="col-sm-5">
                                     <input type='text' class='form-control' id='#iemail' name='email' formControlName="email" >      
                                 </div>
                               </div>
                               <div class="form-group"> 
                                 <label  class='control-label col-sm-1'>Address</label>
                                 <div class="col-sm-4">
                                     <input type='text' class='form-control' id='#iaddress' name='address' formControlName="address">                                
                                 </div>
                            
                                 <label  class='control-label col-sm-1'>City</label>
                                 <div class="col-sm-5">
                                     <input type='text' class='form-control' id='#icity' name='city' formControlName="city" >      
                                 </div>
                               </div>

                               <div class="form-group"> 
                                 <label  class='control-label col-sm-1'>State</label>
                                 <div class="col-sm-4">
                                     <input type='text' class='form-control' id='#istate' name='state' formControlName="state">                                
                                 </div>
                            
                                 <label  class='control-label col-sm-1'>Country</label>
                                 <div class="col-sm-5">
                                     <input type='text' class='form-control' id='#icountry' name='country' formControlName="country" >      
                                 </div>
                               </div>
                               

                               <div class="form-group" style="float:right">
                                    <button type="button" class="btn btn-warning" (click)='saveData(data.id,rowindex)' [disabled]='!formDatas.valid || formDatas.pristine'> Save </button> 
                                    <button type="button" class="btn btn-danger" (click)='onCancel(data.id,rowindex)'> Cancell </button>
                               </div>    
                            </form>
                        </div>
                        </td>                        
                    </tr>
                </tbody>
           </table>    
    </div> 
</div>